* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.logo {
  display: flex;
  padding-left: 27px;
}
.beta-btn {
  background-color: #6145d0;
}
.btn button {
  padding-right: 40px;
}
.text {
  color: #1a1a1a;
}
.btn-bdr {
  background-color: #6145d0;
}
